extends ../includes/layout.pug

block head
    link(href="./trade_declined/declined.css", rel="stylesheet" data-inline="data-inline")
    title= subject

block content
    if isCreator
        h2 #{decliningTeam} has declined your trade offer:
    else
        h2 #{decliningTeam} has declined a trade offer involving you:
    .divider
    div
        p #[strong Reason:] #{reason}
    div
        h2 Declined trade was:
        each trade, index in tradesBySender
            h3 #{trade.sender} would send:
            if trade.majors.length
                ul.majors
                each player in trade.majors
                    li= player
            if trade.minors.length
                ul.minors
                each player in trade.minors
                    li= player
            if trade.picks.length
                ul.picks
                each pick in trade.picks
                    li= pick
